body {
    margin: 0 auto;
    background-color: antiquewhite;
    font-size: 16px;
    color: black;
    text-align: center;
}



nav {
    top: 0;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;  

}

nav .site-header {
    display: flex;
    align-items: center;
    padding: 1.25rem;
  }



ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: 'Caveat', cursive;
    color: #f79977;
    text-shadow: 3px 3px 3px #e96a7b;
    font-weight: bold;
    font-size: 3rem;
}

a {
    text-decoration: none;  
    color: #f79977;
}

a:hover {
    color: #e96a7b;
}

@media only screen and (max-width: 1000px) {
    li {
        font-size: 2rem;
    }
}


/*statement section*/

.main-image {
    background-image: url('../assets/woliul-hasan-apqkrCPaZDM-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Syne Mono', monospace;
    color: white;
    height: 30rem;
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}


.statement h1 {
    font-size: 4rem;;
    padding-bottom: 4rem;
    font-family: 'Caveat', cursive;
}
/*Portfolio*/

#portfolio {
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    color: #f79977;
}

.gallery {
    margin-top: 5rem;
    display: inline-flex;
    
}

.client {
    width: 300px;
    margin: 1rem;
    border: 1px solid;
    background-color: white;
    box-shadow: 5px 5px 5px #4d4d4e;
}

.client-img {
    width: 90%;
    height: 80%;
    margin-top: 1.5rem;
    
}

.name {
    padding-top: 1rem;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
   
}

.rotate {
    padding-bottom: 3rem;
    width: auto;
    height: 300px;
}

/*Team*/

#team {
margin: 5rem 0;
color: #f79977;


}

.title {
    padding: 7rem 0 1.75rem;
    font-family: 'Caveat', cursive;
    color: #f79977;
    text-shadow: 7px 5px 5px #e96a7b;
    font-size: 6rem;
   
}

.team-gallery {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    
}


.employee img {
width: 18.75rem;
height: 21.875rem;
border:solid 1rem;
border-bottom-color:#ffe;
border-left-color:#eed;
border-right-color:#eed;
border-top-color:#ccb;
 
}

.employee-2 img {
width: 18.75rem;
height: 21.875rem;
border:solid 1rem;

}

.frame {
    background-color:#ddc;
    border:solid 2rem #eee;
    border-radius:2px;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    padding:2rem;

}

    .frame-black {
        color: black;
        background-color:#ddc;
        border-radius:2px;
        box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
        box-sizing:border-box;
        padding:2rem;

    }

    #team p {
        font-family: 'Caveat', cursive;
        font-size: 3rem;
        font-weight: bold;
        color: #f79977;
        text-shadow: 3px 3px 3px #e96a7b;
    }



@media only screen and (max-width: 950px) {
    .team-gallery {
        flex-direction: column;
    }
}

    /*Footer*/

  
    footer {
        background-color: black;
        font-family: 'Caveat', cursive;
        color: antiquewhite;
        padding: 2rem;
     
        
    }

    .copyright {
        text-align: left;
       
    }


